name: Despliegue A Droplet de DigitalOcean

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Conectando por SSH a Droplet
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DIGITAlOCEAN_HOST }}
        username: ${{ secrets.USERNAME }}
        port: ${{ secrets.PORT }}
        key: ${{ secrets.KEY }}
        script: |
            whoami
            ls -al
