name: Despliegue A Droplet de DigitalOcean

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Desplegando Cambios -> idea_api
        uses: fifsky/ssh-action@master
        with:
            command: | 
                cd idea-api &&
                git pull origin master && 
                docker-compose up --build --force-recreate --no-deps -d idea_api &&
                docker images -f dangling=true -qa | xargs docker rmi
            host: ${{ secrets.DIGITAlOCEAN_HOST }}
            user: root
            key: ${{ secrets.KEY}}
            args: "-tt"