name: Despliegue A Droplet de DigitalOcean

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Conectando por SSH a Droplet V1
        uses: fifsky/ssh-action@master
        with:
            command: |
            cd /tmp
            ls -a
            host: ${{ secrets.DIGITAlOCEAN_HOST }}
            user: root
            key: ${{ secrets.KEY}}
      - name: Conectando por SSH a Droplet V2
        uses: appleboy/ssh-action@master
        with:
            host: ${{ secrets.DIGITAlOCEAN_HOST }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.KEY }}
            script: |
                whoami
                ls -al
